<div class="container mt-5 d-flex justify-content-center">
  <form action='/' method="POST">
    <h3>短網址產生器</h3>
    <div class="form-group">
      <label for="exampleURL">請輸入網址</label>
      <input type="url" class="form-control" id="exampleURL" aria-describedby="emailHelp" name="URL">
    </div>
    <!--<p class="text-danger">{{#if shortURL }} {{shortURL}} {{/if}}</p>-->
    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary">生成短網址</button>
    </div>
  </form>
</div>